<% if @current_order_item %>
	<h4 class="text-center hg_color">
	     	<span class="hg_color">
		     	<%= number_to_currency @current_order_item.price %>
		    </span>
	     </h4>
	<!--<%= simple_form_for @current_order_item, :html => {method: :put, multipart: true} do |f| %>
	     <h4 class="text-center hg_color">
	     	<span class="hg_color">
		     	<%= number_to_currency @current_order_item.price %>
		    </span>
	     </h4>
	    
	   
	    <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
	    <%= f.hidden_field :unit_price, value: @current_order_item.price %>
	    <%= f.hidden_field :visual_id, value: visual.id %>
	    
	    <%= f.submit "Add to Cart", class: "btn btn-primary btn-block" %>    
	<% end %> -->
	
	<%= link_to t("remove_from_cart"), @current_order_item, { data: { confirm: "#{I18n.t("are_you_sure_remove")} '#{@current_order_item.visual.name}' #{I18n.t("from_your_card")}" }, method: :delete, class: "btn btn-danger btn-transparent btn-block" } %>


	<div class="row">
		<br>
		<div class="col-md-6">
			<%= link_to t("pursue"), visuals_path, class: "btn btn-xs btn-info btn-transparent btn-block" %>
		</div>
		<div class="col-md-6">
			<%= link_to t("go_to_cart"), cart_path, class: "btn btn-xs btn-primary btn-transparent btn-block" %>
		</div>
	</div>

<% else %>

	<!-- achat direct avec les données de base point de vue dimensions et finitions -->
	<%= simple_form_for order_item, remote: true do |f| %>
	     <h4 class="text-center hg_color">
	     	<span class="hg_color">
		     	<%= number_to_currency visual.price %>
		    </span>
	     </h4>
	    
	   	<%= f.hidden_field :dimension_id, value: visual.dimensions.first.id %>
	   	<%= f.hidden_field :finish_id, value: Finish.first %>
	    <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
	    <%= f.hidden_field :unit_price, value: visual.price %>
	    <%= f.hidden_field :visual_id, value: visual.id %>
	    
	    <%= f.submit t("add_to_cart"), class: "btn btn-primary btn-block" %>    
	<% end %>

<% end %>