<% if @current_order_item %>

    <% if @current_order_item.visual.dimensions %>

        <% Finish.all.each do |finish| %>
        <div class="col-md-6">
            <%= simple_form_for @current_order_item, :html => {method: :put, multipart: true} do |f| %>
                <%= f.hidden_field :finish_id, value: finish.id %>
                <%= f.hidden_field :unit_price, value: @current_order_item.price %>
                
                <% if @current_order_item.finish_id.blank? %>
                    <% if finish.id == 1 %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-primary btn-xs btn-block' %>
                    <% else %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-info btn-transparent btn-xs btn-block' %>
                    <% end %>
                <% else %>
                    <% if finish == @current_order_item.finish %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-primary btn-xs btn-block' %>
                    <% else %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-info btn-transparent btn-xs btn-block' %>
                    <% end %>
                <% end %>

            <% end %>
        </div>
        <% end %>


    <% else %>

        <% Finish.all.each do |finish| %>
        <div class="col-md-6">
            <%= simple_form_for order_item, remote: true do |f| %>
                <%= f.hidden_field :finish_id, value: finish.id %>
               
                <% if order_item.finish_id.blank? %>
                    <% if finish.id == 1 %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-primary btn-xs btn-block' %>
                    <% else %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-info btn-transparent btn-xs btn-block' %>
                    <% end %>
                <% else %>
                    <% if finish == order_item.finish %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-primary btn-xs btn-block' %>
                    <% else %>
                    <%= f.submit "#{finish.name}", class: 'btn btn-info btn-transparent btn-xs btn-block' %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <% end %>

    <% end %>

<% end %>
