<%= simple_form_for(@visual) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: "Nom" %>
    <%= f.input :presentation_fr, label: false, placeholder: "Présentation du visuel FR" %>
    <%= f.input :presentation_nl, label: false, placeholder: "Présentation du visuel NL" %>
    <%= f.input :presentation_en, label: false, placeholder: "Présentation du visuel EN" %>
    <%= f.input :price, label: false, placeholder: "Prix de départ" %>
    <%= f.input :artist_id, label: false, placeholder: "Artiste" %>
    <%= f.input :is_drawing %>
    <%= f.input :is_picture %>
  </div>

  <div class="form-actions">
    <%= f.submit "Ajouter le visuel", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
