<% @visuals.each do |visual| %>
      <div class="col-md-4">

        <div class="card_image">
          
          <%= link_to visual_path(visual) do %>
            <span class="card_caption" id="card_caption_<%= visual.id %>">
              <%= truncate(visual.artist.full_name, length: 15) %>
              <br>
              <br>
              <br>
              
              <p><span class= "visual_name"><%= visual.name %></span>
            
              <br><%= t("as_from") %> <%= visual.price %> €</p>
              
            </span>
          <% end %>

            <% if visual.miniature.blank? %>
            <%= image_tag visual.image.url(:thumb) %> 
            <% else %>
            <%= image_tag visual.miniature.url(:thumb) %> 
            <% end %>
          </div>




      </div>
    <% end %>