<div class="row artists">


<div class="container container-content">

  <div class="col-md-3">
    <div class="selector">
  <h2><span class="hg_color font-bold"><%= t("filter") %></span> <span class="font-light"><%= t("by") %></span></h2>

  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to t("all"), visuals_path %></li>
    <li><%= link_to t("drawings"), drawings_path %></li>
    <li class="active"><%= link_to t("pictures"), photos_path %></li>
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <%= t("artists") %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% @artists.each do |artist| %>
      <li><%= link_to artist.full_name, my_visuals_artist_path(artist) %></li>
      <% end %>
    </ul>
  </li>
  </ul>
  
  </div>
</div>
<div class="col-md-8 col-md-offset-1">
  <div class="row">
    <%= render partial: "visuals/visual", locals: {visuals: @visuals} %>
  </div>

</div>

</div>
</div>