<div class="row artists">

  <div class="container">

    <div class="row start-page">

      

      <div class="col-md-3">
        <div class="panel panel-default visual-cart">
          <div class="panel-body text-center">
            <h4>
              Format
              <small> <%= @visual.gabarits.last.name if @visual.gabarits.any? %></small>
            </h4>

         <%= render partial: "visuals/choose_dimensions", locals: {visual: @visual, order_item: @order_item} %>
            
          <hr>

            <h4>Finition</h4>
          <%= render partial: "visuals/chooser_finish", locals: {visual: @visual, order_item: @order_item} %>
          <hr>
            
            <!--<h4><%= @visual.price %> €</h4>
              <%= link_to "Ajouter au panier", "", class: "btn btn-primary btn-block" %>-->

              <%= render partial: "visuals/add_to_cart", locals: {visual: @visual, order_item: @order_item} %>
            
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <%= image_tag @visual.image.url(:large), class: "responsive-img" %>
        <div class="row">
          <div class="col-md-9">
            <h3>
              <%= @visual.name %>
              <%= link_to "Modifier", edit_visual_path(@visual), class: "btn btn-primary btn-xs" %>
            </h3>
            <h4><%= @visual.artist.full_name %></h4>

          </div>
          <div class='col-md-3 text-right'>
            <br>
            <p>à partir de <%= @visual.price %> €</p>
          </div>
        </div>
        <p><%= @visual.presentation_fr %></p>
      </div>
    </div>

    <% if @visual.artist.visuals.count > 1 %>
    <div class="other-visuals">
      <h1 class="text-center">Autres visuels de <%= @visual.artist.full_name %></h1>

      <%= render partial: "artists/artist_visuals", locals: {visuals: @visual.artist.visuals} %>

      
    </div>
    <% end %>




  </div>
</div>


