<% visuals.each do |visual| %>

        <% if cycle('odd', 'even') == 'odd' %>

        	<% if visual == visuals.last %>
          		<div class="row">
          	<% else %>
          		<div class="row bottom-line">
          	<% end %>

            <div class="col-md-6 right-line">
            	<div class="inside">
	              <%= image_tag visual.image.url(:little) %>
	          </div>
            </div>
            <div class="col-md-6">
            	<div class="inside">
              <h3>
                <%= visual.name %>
                <% if user_signed_in? %>
                  <%= link_to 'Delete', visual, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                <% end %>
              </h3>
              <p><%= visual.presentation_fr %></p>
              <h3><%= link_to 'Discover', visual, class: 'btn btn-primary btn-lg btn-transparent' %></h3>
          </div>
            </div>
          </div>

        <% else %>

          <% if visual == visuals.last %>
          		<div class="row">
          	<% else %>
          		<div class="row bottom-line">
          	<% end %>
            <div class="col-md-6 right-line-visuals">
            	<div class="inside">
              <h3>
                <%= visual.name %>
                <% if user_signed_in? %>
                  <%= link_to 'Delete', visual, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                <% end %>
              </h3>
              <p><%= visual.presentation_fr %></p>
              <h3><%= link_to 'Discover', visual, class: 'btn btn-primary btn-lg pull-right btn-transparent' %></h3>
          </div>
            </div>
            <div class="col-md-6">
            	<div class="inside">
               
              <%= image_tag visual.image.url(:little) %>
              </div>
            </div>
          </div>
        <% end %>

      <% end %>