<div class="row artists">
<p id="notice"><%= notice %></p>

<div class="container container-content start-page">

  <h1 class="text-center">
    Nos <b>Artistes</b>
    <% if user_signed_in? %>
    <br>
    <small>
      <%= link_to "Ajouter un artiste", new_artist_path, class: "pull-right btn btn-primary" %></small>
    <% end %>
  </h1>
  <br>
  <br>

    <% @artists.each do |artist| %>
      <% if cycle('odd', 'even') == 'odd' %>
      <% if artist == @artists.last %>
        <div class="row">
      <% else %>
        <div class="row bottom-line">
      <% end %>
          <div class="col-md-6 right-line">
            <div class="inside">
              <%= image_tag artist.image.url(:medium) %>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="inside">
              <h3>
                <%= artist.first_name %> <%= artist.last_name %>
                <% if user_signed_in? %>
                  <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                <% end %>
              </h3>
              <p><%= artist.presentation_fr %></p>
              <h3>
                <%= link_to 'Discover', artist, class: 'btn btn-primary btn-lg btn-transparent pull-left' %>

              </h3>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row bottom-line">
          <div class="col-md-6 right-line-artist">
            <div class="inside">
              <h3>
                <%= artist.first_name %> <%= artist.last_name %>
                <% if user_signed_in? %>
                  <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                <% end %>
              </h3>
              <p><%= artist.presentation_fr %></p>
              <h3><%= link_to 'Discover', artist, class: 'btn btn-primary btn-lg pull-right btn-transparent' %></h3>
            </div>
          </div>
          <div class="col-md-6">
             <div class="inside">
              <%= image_tag artist.image.url(:medium) %>
            </div>
          </div>
        </div>
      <% end %>

    

       <!-- <td><%= artist.presentation_en %></td>
        <td><%= artist.presentation_nl %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
</div>
</div>
