<div class="row artists">
<p id="notice"><%= notice %></p>

<div class="container container-content">

    <% @artists.each do |artist| %>
      <% if cycle('odd', 'even') == 'odd' %>
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <h3><%= artist.first_name %> <%= artist.last_name %></h3>
            <p><%= artist.presentation_fr %></p>
            <h3><%= link_to 'Discover', artist, class: 'btn btn-default btn-lg' %></h3>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-6">
            <h3><%= artist.first_name %> <%= artist.last_name %></h3>
            <p><%= artist.presentation_fr %></p>
            <h3><%= link_to 'Discover', artist, class: 'btn btn-default btn-lg pull-right' %></h3>
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
      <% end %>

    

       <!-- <td><%= artist.presentation_en %></td>
        <td><%= artist.presentation_nl %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
</div>
</div>
