<div class="row artists">
<p id="notice"><%= notice %></p>

<div class="container container-content">

  <div class="col-md-3">
  <h2><span class="hg_color">Sélectionnez</span> par</h2>

  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Tous", visuals_path %></li>
    <li><%= link_to "Dessins", drawings_path %></li>
    <li> <%= link_to "Photos", photos_path %></li>
    <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      Artistes<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <% @artists.each do |artist| %>
	      <li><%= link_to artist.full_name, my_visuals_artist_path(artist) %></li>
	      <% end %>
	    </ul>
	    
	</li>
	<li class="active"><%= link_to "Artiste : #{@artist.full_name}", "" %></li>
	

  </ul>
  
  
</div>
<div class="col-md-8 col-md-offset-1">
  <div class="row">
    <% @visuals.each do |visual| %>
      <div class="col-md-4">

        <div class="card_image">
            <span class="card_caption" id="card_caption_<%= visual.id %>">
              <%= link_to visual.artist.full_name, visual_path(visual) %>
            </span>
            <% if visual.miniature.blank? %>
            <%= image_tag visual.image.url(:thumb) %> 
            <% else %>
            <%= image_tag visual.miniature.url(:thumb) %> 
            <% end %>
          </div>




      </div>
    <% end %>
  </div>

</div>

</div>
</div>