<div class="row artists">


<div class="container container-content">

  <div class="col-md-3">
    <div class="selector">
  <h2><span class="hg_color font-bold"><%= t("filter") %></span> <span class="font-light"><%= t("by") %></span></h2>

  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to t("all"), visuals_path %></li>
    <li><%= link_to t("drawings"), drawings_path %></li>
    <li> <%= link_to t("pictures"), photos_path %></li>
    <li class="active"><%= link_to "#{I18n.t("artist")} : #{@artist.full_name}", "" %></li>
    <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	      <%= t("other_artists") %><span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <% @other_artists.each do |artist| %>
	      <li><%= link_to artist.full_name, my_visuals_artist_path(artist) %></li>
	      <% end %>
	    </ul>
	    
	</li>
	
	

  </ul>
  
  </div>
</div>
<div class="col-md-8 col-md-offset-1">
  <div class="row">
    <% @visuals.each do |visual| %>
    <% if visual.dimensions.any? %>
      <div class="col-md-4">

        <div class="card_image">
            <%= link_to visual_path(visual) do %>
            <span class="card_caption" id="card_caption_<%= visual.id %>">
              <%= truncate(visual.name, length: 15) %>
              <br>
              <br>
              
              <p>
            
              <%= t("as_from") %> <%= visual.price %> €</p>
              
            </span>
          <% end %>
            <% if visual.miniature.blank? %>
            <%= image_tag visual.image.url(:thumb) %> 
            <% else %>
            <%= image_tag visual.miniature.url(:thumb) %> 
            <% end %>
          </div>




      </div>
      <% end %>
    <% end %>
  </div>

</div>

</div>
</div>