<div class="row artists">

  <div class="container">

  
<div class="start-page">

<p class="lead text-right"><%= @artist.full_name %></p>
<div class="row">
<div class="col-md-4">
  

  <p><%= @artist.presentation_fr %></p>

  <%= @artist.presentation_en %>

  <%= @artist.presentation_nl %>
</div>
<div class="col-md-8">

  <%= image_tag "http://placehold.it/976x600" %>
</div>
</div>
</div>


<div class="other-visuals">
      <h1 class="text-center">
        Visuels de <%= @visual.artist.full_name %>
        <% if user_signed_in? %>
        <br>
        <small><%= link_to "Ajouter un visuel de #{@artist.full_name}", "", class: "btn btn-primary pull-right" %></small>
        <br>
        <% end %>
      </h1>

      <%= render partial: "artists/artist_visuals", locals: {visuals: @artist.visuals} %>
    
    </div>




<% if user_signed_in? %>

<div class="col-md-6 col-md-offset-3">
<h1 class="text-center page-header">Ajouter un visuel de <%= @artist.full_name %></h1>
<%= simple_form_for(@visual) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: false, placeholder: "Nom du visuel" %>
    <%= f.input :presentation_fr, label: false, placeholder: "Présentation du visuel FR" %>
    <%= f.input :presentation_nl, label: false, placeholder: "Présentation du visuel NL" %>
    <%= f.input :presentation_en, label: false, placeholder: "Présentation du visuel EN" %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :price, label: false, placeholder: "Prix de départ" %>
      </div>
      <div class="col-md-4">
        <%= f.input :is_drawing, label: "dessin" %>
      </div>
      <div class="col-md-4">
        <%= f.input :is_picture, label: "photo" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Ajouter le visuel", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
</div>

<% end %>

</div>