<p><%= t("hello") %> <%= @purchase.buyer.full_name %>,</p>

<p>
	
	<%= t("thanks_for_your_order") %> :
	<br><b>Visuel choisi :</b> 
		<% unless @purchase.is_upload %>
		<%= link_to @purchase.visual.name, visual_url(@purchase.visual) %>
		<% else %>
		<%= link_to t("own_visual"), upload_url(@purchase.visual.upload) %>
		<% end %>
    <br><b><%= t("format") %> :</b> <%= @purchase.order_item.dimension.whole_name %>
    <br><b><%= t("finish") %> :</b> <%= @purchase.order_item.finish.name %>
	<br><b><%= t("price") %> :</b> <%= @purchase.order_item.price %> EUR tvac

</p>

<p><%= t("when_received_we_launch") %></p>

<p><%= t("we_confirm_delivery") %></p>
<br>
 

<p><%= t("thank_you_for_choosing_us") %></p>
<br>
 

<p><b><%= t("hg_team") %></b></p>