<%= form_tag charges_path, id: 'chargeForm' do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= hidden_field_tag 'stripeToken' %>
  <%= hidden_field_tag 'stripeEmail' %>

    <button id="customButton" class="btn btn-success btn-block">Payer <%= number_to_currency current_order.total %></button>

    <script>
      var handler = StripeCheckout.configure({
        email: "<%= current_user.email_or_placeholder %>",
        key: "<%= Rails.configuration.stripe[:publishable_key] %>",
        token: function(token, args) { 
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("chargeForm").submit();
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: "Heroes Gallery",
          amount: "<%= current_order.total*100 %>",
          currency: "eur",
          locale: "auto",
        });
        e.preventDefault();
      });
    </script>
<% end %>