<div class="row artists">

  <div class="container">

    <div class="row col-md-10 col-md-offset-1">

    	<h2 class="page-header text-center"><%= t("your_order_summary") %></h2>

    	<div class="row">
    		
    		<div class="col-md-5">
    			<div class="well">
    				<p class="lead text-center hg_color"><%= t("ordered_products") %></p>

    				<% @order_items.each do |order_item| %>
    					<hr>
					    <%= render 'carts/cart_checkout_row', visual: order_item.visual, order_item: order_item, show_total: true %>
					<% end %>

					<br>
					<div class="text-center">
					<%= link_to t("go_back_to_cart"), cart_path, class: 'btn btn-primary btn-transparent btn-xs' %>
				</div>
    			</div>

    		</div>

    		<div class="col-md-4">
    			<div class="well">
    				<p class="lead text-center hg_color"><%= t("delivery_takeaway") %></p>
    				<hr>
    				<h5 class="text-center"><%= t("make_choice") %></h5>

	    			<% if current_order.with_shipping %>

	    			
    				<div class="row">
    					<div class="col-md-6">
		    				<%= simple_form_for @order, :html => {method: :put, multipart: true} do |f| %>
		    					<%= f.hidden_field :with_shipping, value: true %>
		    					<%= f.submit t("delivery"), class: 'btn btn-primary btn-sm btn-block' %>
		    				<% end %>
		    			</div>
		    			<div class="col-md-6">
		    				<%= simple_form_for @order, :html => {method: :put, multipart: true} do |f| %>
		    					<%= f.hidden_field :with_shipping, value: false %>
		    					<%= f.submit t("take_away"), class: 'btn btn-primary btn-transparent btn-sm btn-block' %>
		    				<% end %>
		    			</div>
		    	    </div>

	    			<hr>
	    			<div class="text-center">
		    			<span class="fa-stack fa-lg hg_color">
						  <i class="fa fa-circle-thin fa-stack-2x"></i>
						  <i class="fa fa-truck fa-stack-1x"></i>
						</span>
					</div>
	    			
	    			<p class="text-center"><%= t("delivery_shall_be_at") %></p>
	    			<%= current_user.shipping_address %>
	    			<br><%= current_user.shipping_town %>
	    			<br><%= current_user.shipping_telephone %>
	    			<%= link_to t("edit_address"), shipping_path, class: 'btn btn-primary btn-transparent btn-xs pull-right' %>

	    			<% else %>

	    			<div class="row">
    					<div class="col-md-6">
		    				<%= simple_form_for @order, :html => {method: :put, multipart: true} do |f| %>
		    					<%= f.hidden_field :with_shipping, value: true %>
		    					<%= f.submit t("delivery"), class: 'btn btn-primary btn-transparent btn-sm btn-block' %>
		    				<% end %>
		    			</div>
		    			<div class="col-md-6">
		    				<%= simple_form_for @order, :html => {method: :put, multipart: true} do |f| %>
		    					<%= f.hidden_field :with_shipping, value: false %>
		    					<%= f.submit t("take_away"), class: 'btn btn-primary btn-sm btn-block' %>
		    				<% end %>
		    			</div>
		    	    </div>

	    			<hr>
	    			<div class="text-center">
		    			<span class="fa-stack fa-lg hg_color">
						  <i class="fa fa-circle-thin fa-stack-2x"></i>
						  <i class="fa fa-map-marker fa-stack-1x"></i>
						</span>
					</div>
	    			<p class="text-center"><%= t("take_away_as_from") %></p> 
	    			<p class="lead text-center"><span class="btn-link-hg"><%= link_to t("see_shop_address"), contact_path, class: 'btn btn-primary btn-transparent btn-sm' %></span>
	    			</p>
	    			<% end %>
	    			<hr>
    				<p><%= t("billing_address") %></p>
    				<%= current_user.billing_address %>
	    			<br><%= current_user.billing_town %>
	    			<br><%= current_user.billing_telephone %>
	    			<%= link_to t("edit_address"), billing_path, class: 'btn btn-primary btn-transparent btn-xs pull-right' %>
    		
    			</div>
    		</div>

    		<div class="col-md-3">
    			<div class="well">
    				<p class="lead text-center hg_color"><%= t("payment") %></p>
    				<hr>
    				<div class="row">
    					<div class="col-md-7">
    						<%= t("products") %> (<%= @order.order_items.count %>)
    					</div>
    					<div class="col-md-5 text-right">
    						<%= number_to_currency @order.subtotal %>
    					</div>
    				</div>

    				<div class="row">
    					<div class="col-md-6">
    						<%= @order.with_shipping ?  "#{I18n.t("delivery")}" : "#{I18n.t("take_away_short")}" %>
    					</div>
    					<div class="col-md-6 text-right">
    						<%= number_to_currency @order.shipping %>
    					</div>
    				</div>
    				<hr>
    				<div class="row">
    					<div class="col-md-7">
    						<strong><%= t("total_simple") %></strong>
    					</div>
    					<div class="col-md-5 text-right">
    						<strong><%= number_to_currency @order.total %></strong>
    					</div>
    				</div>
    				
    				
    				<h3><%= render "visitors/checkout_button" %></h3>
	
    			</div>
    		</div>
    	
    </div>
</div>
</div>