<div class="row concept">
	<div class="container container-content">
		<% if user_signed_in? && current_user.is_admin %>
<div class="edit-button">
	  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ModalConcept">
	  	Modifier
	  </button>
	</div>

	<%= render "modal_form_concept" %>
<% end %>
	<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center concept-title"><span class="font-light"><%= t("concept_capital") %></span></h1>

		<div class="font-regular concept-content">
		<% if @custom.concept_text.present? %>
			<%= @custom.concept_text %>
		<% else %>
		<p>
			Heroes Gallery est né dans la tête de quelques amoureux de l'univers vintage du monde automobile.
			<br>
			A l'heure du numérique, nous oublions trop vite les superbes tirages photos et autres dessins réalisés par artistes passionnés : ce sont nos héros de l'instantané.
		</p>

		<p>
			Ils ont immortalisé des voitures exceptionnelles, des courses inoubliables, des moments rarissimes, des pilotes courageux : ce sont nos héros du volant.
		</p>

		<p>
			Nous avons voulu sortir des tiroirs ces magnifiques images, les valoriser, les faire revivre sur nos murs.
			<br>
			Certaines portent l'émotion de l'instant, d'autres la nostalgie d'une époque.  Mais toutes symbolisent une histoire.
			<br>
			<b>Heroes Gallery</b>, en partenariat avec <b>Marcel & C°</b>, vous proposent en impressions photographiques de grande qualité sur plexi ou aluminium en différentes tailles, et ce à des prix tout à fait abordables.
		</p>

		<p>
			Et si vous le désirez, nous pouvons également nous occuper de vos propres visuels dans les mêmes finitions.
			<br>
			Vous aussi, vous deviendrez vos propres héros !
		</p>
		<% end %>
	</div>

		<h1 class="text-center concept-title"><span class="font-light"><%= t("nothing_more") %> </span><span class="font-bold"><%= t("easy") %></span></h1>

<div class="timeline">

<div class="row step">
	<div class="col-md-6 step_text step_line first_step step_left">
		<div class="text-right text-in-first-step">
			<span class="number">01</span><% if @custom.step_one_title.present? %>
				<%= @custom.step_one_title %>
			<% else %>
			<span class="font-light"><%= t("choose") %> </span><span class="font-bold"><%= t("the_visual") %></span>
			<% end %>
		</div>

		<p class="text-right">
			<% if @custom.step_one_text.present? %>
				<%= @custom.step_one_text %>
			<% else %>

			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			<br><br>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span>

			<% end %>
		</p>

	</div>

	<div class="col-md-6">
		<div class="first_dot"></div>
		<%= image_tag "choisir_oeuvre.png" %>
	</div>
</div>

<div class="row step">
	<div class="col-md-6 step_line following_step">
		<%= image_tag "choisir_taille.png" %>
	</div>

	<div class="col-md-6 step_text step_right">
		<div class="second_dot"></div>
		<div class="step_title">
			<span class="number">02</span><% if @custom.step_two_title.present? %>
				<%= @custom.step_two_title %>
			<% else %>
			
			<span class="font-light"><%= t("choose") %> </span><span class="font-bold"><%= t("the_size") %></span>
			<% end %>
			
		</div>

		<p>
			<% if @custom.step_two_text.present? %>
				<%= @custom.step_two_text %>
			<% else %>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			<br><br>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span>
			<% end %>
		</p>
	</div>
</div>



<div class="row step">
	<div class="col-md-6 step_text step_line following_step step_left">
		
		<div class="step_title text-right">
			<span class="number">03</span><% if @custom.step_three_title.present? %>
				<%= @custom.step_three_title %>
			<% else %>
			
			<span class="font-light"><%= t("choose") %> </span><span class="font-bold"><%= t("the_finish") %></span>
			<% end %>
		</div>

		<p class="text-right">
			<% if @custom.step_three_text.present? %>
				<%= @custom.step_three_text %>
			<% else %>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				<br><br>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span>
			<% end %>
		</p>
	</div>

	<div class="col-md-6">
		<div class="third_dot"></div>
		<%= image_tag "choisir_finition.png" %>
	</div>
</div>



<div class="row step">
	<div class="col-md-6 step_line following_step last_step step_right">
		<%= image_tag "choisir_endroit.png" %>
	</div>

	<div class="col-md-6 step_text step_right">
		<div class="second_dot"></div>
		<div class="step_title">
			<span class="number">04</span><% if @custom.step_four_title.present? %>
				<%= @custom.step_four_title %>
			<% else %>
				
				<span class="font-light"><%= t("choose") %> </span><span class="font-bold"><%= t("the_place") %></span>
			<% end %>
		</div>

		<p>
			<% if @custom.step_four_text.present? %>
				<%= @custom.step_four_text %>
			<% else %>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			<br><br>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span>
			<% end %>
		</p>

		<div class="last_dot"></div>
	</div>
</div>
</div>


	</div>
</div>
</div>








<h3 class="text-center">
<%= link_to t("try"), visuals_path, class: "btn btn-primary btn-transparent btn-lg" %>
</h3>

</div>