<div class="row concept">
	<div class="container container-content">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center concept-title">Rien de plus <b>facile</b></h1>

		<p>
			Heroes Gallery est né dans la tête de quelques amoureux de l'univers vintage du monde automobile.
			<br>
			A l'heure du numérique, nous oublions trop vite les superbes tirages photos et autres dessins réalisés par artistes passionnés : ce sont nos héros de l'instantané.
		</p>

		<p>
			Ils ont immortalisé des voitures exceptionnelles, des courses inoubliables, des moments rarissimes, des pilotes courageux : ce sont nos héros du volant.
		</p>

		<p>
			Nous avons voulu sortir des tiroirs ces magnifiques images, les valoriser, les faire revivre sur nos murs.
			<br>
			Certaines portent l'émotion de l'instant, d'autres la nostalgie d'une époque.  Mais toutes symbolisent une histoire.
			<br>
			<b>Heroes Gallery</b>, en partenariat avec <b>Marcel & C°</b>, vous proposent en impressions photographiques de grande qualité sur plexi ou aluminium en différentes tailles, et ce à des prix tout à fait abordables.
		</p>

		<p>
			Et si vous le désirez, nous pouvons également nous occuper de vos propres visuels dans les mêmes finitions.
			<br>
			Vous aussi, vous deviendrez vos propres héros !
		</p>


<div class="timeline">

<div class="row step">
	<div class="col-md-6 step_text step_line step_left">
		<div class="step_title text-right">Choisissez <b>l'oeuvre</b></div>

		<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p class="text-right">Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span></p>

	</div>

	<div class="col-md-6">
		<div class="dot"></div>
		<%= image_tag "choisir_oeuvre.png" %>
	</div>
</div>

<div class="row step">
	<div class="col-md-6 step_line following_step">
		<%= image_tag "choisir_taille.png" %>
	</div>

	<div class="col-md-6 step_text step_right">
		
		<div class="step_title">Choisissez <b>la taille</b></div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span></p>
	</div>
</div>

<div class="row step">
	<div class="col-md-6 step_text step_line following_step step_left">
		
		<div class="step_title text-right">Choisissez <b>la finition</b></div>

		<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p class="text-right">Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span></p>
	</div>

	<div class="col-md-6">
		<%= image_tag "choisir_finition.png" %>
	</div>
</div>

<div class="row step">
	<div class="col-md-6 step_line following_step step_right">
		<%= image_tag "choisir_endroit.png" %>
	</div>

	<div class="col-md-6 step_text step_right">
		<div class="step_title">Choisissez <b>l'endroit</b></div>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p>Ut enim ad minim veniam, quis <span class="hg_color">nostrud exercitation.</span></p>
	</div>
</div>
</div>


	</div>
</div>
</div>








<h3 class="text-center">
<%= link_to "Essayer", visuals_path, class: "btn btn-primary btn-transparent btn-lg" %>
</h3>

</div>