<div class="row finitions">
	<div class="container container-content">


			<div class="row">
				<h1 class="text-center">
					
					<% if I18n.locale.to_s.include?("fr") %>
						<span class="font-light"><%= t("formats").titleize %> </span><span class="font-bold"><%= t("possibles") %></span>
					<% else %>
						<span class="font-bold"><%= t("possible").titleize %> </span><span class="font-light"><%= t("formats") %></span>
					<% end %>
					<br><small><%= t("possible_formats") %></small>
				</h1>

				<div class="row">
					<div class="col-md-3">
						<p class="lead with-underline text-center"><span class="number">01</span><%= t("format_paysage") %></p>
						<p>
							<b><%= t("standard") %>:</b> 60 x 80 cm<br>
							<b><%= t("grand") %>:</b> 80 x 120 cm<br>
							<b><%= t("etonnant") %>:</b> 100 x 150 cm<br>
							<b><%= t("impressive") %>:</b> 120 x 180 cm
						</p>
					</div>
					<div class="col-md-3 format-border-left">
						<p class="lead with-underline text-center"><span class="number">02</span><%= t("format_portrait") %></p>
						<p>
							<b><%= t("standard") %>:</b> 80 x 60 cm<br>
							<b><%= t("grand") %>:</b> 120 x 80 cm<br>
							<b><%= t("etonnant") %>:</b> 150 x 100 cm<br>
							<b><%= t("impressive") %>:</b> 180 x 120 cm
						</p>
					</div>
					<div class="col-md-3 format-border-left">
						<p class="lead with-underline text-center"><span class="number">03</span><%= t("format_carre") %></p>
						<p>
							<b><%= t("standard") %>:</b> 80 x 80 cm<br>
							<!--<b>Grand:</b> <br> -->
							<b><%= t("etonnant") %>:</b> 100 x 100 cm<br>
							<b><%= t("impressive") %>:</b> 120 x 120 cm
						</p>
					</div>
					<div class="col-md-3 format-border-left">
						<p class="lead with-underline-last text-center"><span class="number">04</span><%= t("format_pano") %></p>
						<p>
							<!--<b>Standard:</b> <br>-->
							<b><%= t("grand") %>:</b> 45 x 90 cm<br>
							<b><%= t("etonnant") %>:</b> 75 x 150 cm<br>
							<b><%= t("impressive") %>:</b> 90 x 180 cm
						</p>
					</div>
				</div>
			</div>

			<h1 class="text-center other-visuals">
					
					<span class="font-light"><%= t("our_materials") %> </span><span class="font-bold"><%= t("finishes") %></span>
				</h1>


			<div class="row bottom-line">
				<div class="col-md-6 right-line">
					<div class="inside">
					<%= image_tag "alu.png", class: "img-responsive" %>
					</div>
				</div>

				<div class="col-md-6">
					<div class="inside">
					<h3><span class="number">01</span><%= t("aluminium") %></h3>
					<p class="concept-content-finish"><%= t("alu_par_one") %>
					<br>
					<%= t("alu_par_two") %>
					<br>
					<br>
					<%= t("alu_par_three") %>
				</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 right-line plexi">
					<div class="inside">
					<h3><span class="number">02</span><%= t("plexi").titleize %></h3>

					<p class="concept-content-finish">
						<%= t("plexi_par_one") %>
						<br>
						<br>
						<%= t("plexi_par_two") %>
					</p>
				</div>
				</div>

				<div class="col-md-6">
					<div class="inside">
					<%= image_tag "plexi.png", class: "img-responsive" %>
				</div>
				</div>
			</div>

	</div>
</div>