<div class="row"> 




	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

  	

    <div class="item active">
    	<% if @custom.image_one.present? %>
    		<%= image_tag @custom.image_one.url(:cover) %>
    	<% else %>
    		<img src="http://placehold.it/1900x870&text=Slide One" alt="...">
    	<% end %>
      
      <div class="carousel-caption">
        <!--Heroes Gallery, en partenariat avec Marcel & C°, vous<br> proposent de superbes visuels de l'univers vintage du monde automobile.
				<br>
				Découvrez sur ce site les magnifiques photos ou dessins proposés en exclusivité.
				<br>
				Choisissez, commandez et habillez vos murs de vos héros.-->
      </div>
    </div>
    <div class="item">
    	<% if @custom.image_two.present? %>
    		<%= image_tag @custom.image_two.url(:cover) %>
    	<% else %>
    		<img src="http://placehold.it/1900x870&text=Slide Two" alt="...">
    	<% end %>
      
      <div class="carousel-caption">
        <!--...-->
      </div>
    </div>
    
    <div class="item">
      <% if @custom.image_three.present? %>
    		<%= image_tag @custom.image_three.url(:cover) %>
    	<% else %>
    		<img src="http://placehold.it/1900x870&text=Slide Three" alt="...">
    	<% end %>
      <div class="carousel-caption">
        <!--...-->
      </div>
    </div>

    <div class="item">
      <% if @custom.image_four.present? %>
    		<%= image_tag @custom.image_four.url(:cover) %>
    	<% else %>
    		<img src="http://placehold.it/1900x870&text=Slide Four" alt="...">
    	<% end %>
      <div class="carousel-caption">
        <!--...-->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
</div>

</div>

<!--    <div class="row">
	<div class="home-top text-center">
	<div class="container container-content">
		<div class="row">
			<%= image_tag "logo.png", size: "350x196" %>
			<%= image_tag "home_top_photos.png", class: "home_top_photos" %>
			<div class="col-md-8 col-md-offset-2">
				Heroes Gallery, en partenariat avec Marcel & C°, vous<br> proposent de superbes visuels de l'univers vintage du monde automobile.
				<br>
				Découvrez sur ce site les magnifiques photos ou dessins proposés en exclusivité.
				<br>
				Choisissez, commandez et habillez vos murs de vos héros.
			</div>
		</div>
	</div>
</div>
</div>-->
<% if user_signed_in? && current_user.is_admin %>
<div class="edit-button">
	  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ModalHome">
	  	Modifier
	  </button>
	</div>

	<%= render "modal_form_home" %>
<% end %>

<div class="container home-middle">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center home-middle-title">

			<span class="font-black"><%= t("your_heroes") %></span> <span class="font-light"><%= t("on") %> <span class="hg_color"><%= t("plexi") %></span> <%= t("or_on") %> <span class="hg_color"><%= t("alu") %></span></span>
		</h1>

		<% if @custom.home_text.present? %>
			<div class="home-middle-content"><%= @custom.home_text %></div>
		<% else %>
		<p>
			Heroes Gallery est né dans la tête de quelques amoureux de l'univers vintage du monde automobile.
			<br>
			A l'heure du numérique, nous oublions trop vite les superbes tirages photos et autres dessins réalisés par artistes passionnés : ce sont nos héros de l'instantané.
		</p>

		<p>
			Ils ont immortalisé des voitures exceptionnelles, des courses inoubliables, des moments rarissimes, des pilotes courageux : ce sont nos héros du volant.
		</p>

		<p>
			Nous avons voulu sortir des tiroirs ces magnifiques images, les valoriser, les faire revivre sur nos murs.
			<br>
			Certaines portent l'émotion de l'instant, d'autres la nostalgie d'une époque.  Mais toutes symbolisent une histoire.
			<br>
			<b>Heroes Gallery</b>, en partenariat avec <b>Marcel & C°</b>, vous proposent en impressions photographiques de grande qualité sur plexi ou aluminium en différentes tailles, et ce à des prix tout à fait abordables.
		</p>

		<p>
			Et si vous le désirez, nous pouvons également nous occuper de vos propres visuels dans les mêmes finitions.
			<br>
			Vous aussi, vous deviendrez vos propres héros !
			
			
		</p>
		<% end %>
	</div>
</div>
</div>

<div class="home-images-cars text-center">
	<% if @custom.image_down.present? %>
    	<%= image_tag @custom.image_down.url %>
    <% else %>
    	<%= image_tag "home_cars.png" %>
    <% end %>
	
</div>

<h3 class="text-center">

<%= link_to t("galery"), visuals_path, class: "btn btn-primary btn-lg" %>
</h3>