<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :title_fr, label: false, placeholder: "Titre FR" %>
        <%= f.input :content_fr, :input_html => {:rows => 10}, label: false, placeholder: "Contenu FR" %>
      </div>
      
      <div class="col-md-4">
        <%= f.input :title_en, label: false, placeholder: "Titre EN" %>
        <%= f.input :content_en, :input_html => {:rows => 10}, label: false, placeholder: "Contenu EN" %>
      </div>
      
      <div class="col-md-4">
        <%= f.input :title_nl, label: false, placeholder: "Titre NL" %>
        <%= f.input :content_nl, :input_html => {:rows => 10}, label: false, placeholder: "Contenu NL" %>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :image, as: :file %>
      </div>
      <div class="col-md-8">
        <%= f.submit "Publier l'article", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>


  </div>

  
<% end %>
