<div class="row news">
  <div class="container  container-content">
  
    <div class="row">
      <div class='text-center'>
      <h2>
        <span class="font-light"><%= t("news") %></span>
        <% if user_signed_in? && current_user.is_admin %>
        <br>
        <small>
          <%= link_to "Ajouter un article", new_article_path, class: "pull-right btn btn-primary" %></small>
        <% end %>
      </h2>
      </div>
    </div>

    <div class='row'>
    
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <!--<ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>-->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        <% @articles.each do |article| %>
          <!-- Quote 1 -->
          <% if article == @articles.last %>
          <div class="item active">
            <% else %>
          <div class="item">
            <% end %>
            
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <%= image_tag article.image.url(:medium), class: "img-responsive" %>
                </div>
                <div class="col-md-6 col-sm-6 right-article">
                  <h3>
                    <%= article.title %>
                    <% if user_signed_in? && current_user.is_admin %>
                  <%= link_to 'Supprimer', article, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                <% end %>
                    <br><small><i><%= article.created_at.strftime("%d/%m/%Y") %></i>
                    
                  </small>
                  </h3>
                  <p><%= article.content %></p>

                  <button type="button" class="btn btn-transparent btn-primary pull-right" data-toggle="modal" data-target="#article_<%= article.id %>">
                    <%= t("see_article") %>
                  </button>


                </div>
              </div>
            
          </div>

          <%= render partial: "article", locals: {article: article} %>
          <% end %>
          <!-- Quote 2 -->
          
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left fa-yellow"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right fa-yellow"></i></a>
      </div>                          
    </div>
  
</div>

<script>
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>



</div>


