<p id="notice"><%= notice %></p>

<p>
  <strong>Home text fr:</strong>
  <%= @custom.home_text_fr %>
</p>

<p>
  <strong>Home text nl:</strong>
  <%= @custom.home_text_nl %>
</p>

<p>
  <strong>Home text en:</strong>
  <%= @custom.home_text_en %>
</p>

<p>
  <strong>Concept title fr:</strong>
  <%= @custom.concept_title_fr %>
</p>

<p>
  <strong>Concept title nl:</strong>
  <%= @custom.concept_title_nl %>
</p>

<p>
  <strong>Concept title en:</strong>
  <%= @custom.concept_title_en %>
</p>

<p>
  <strong>Concept text fr:</strong>
  <%= @custom.concept_text_fr %>
</p>

<p>
  <strong>Concept text nl:</strong>
  <%= @custom.concept_text_nl %>
</p>

<p>
  <strong>Concept text en:</strong>
  <%= @custom.concept_text_en %>
</p>

<p>
  <strong>Step one title fr:</strong>
  <%= @custom.step_one_title_fr %>
</p>

<p>
  <strong>Step one title nl:</strong>
  <%= @custom.step_one_title_nl %>
</p>

<p>
  <strong>Step one title en:</strong>
  <%= @custom.step_one_title_en %>
</p>

<p>
  <strong>Step one text fr:</strong>
  <%= @custom.step_one_text_fr %>
</p>

<p>
  <strong>Step one text nl:</strong>
  <%= @custom.step_one_text_nl %>
</p>

<p>
  <strong>Step one text en:</strong>
  <%= @custom.step_one_text_en %>
</p>

<p>
  <strong>Step two title fr:</strong>
  <%= @custom.step_two_title_fr %>
</p>

<p>
  <strong>Step two title nl:</strong>
  <%= @custom.step_two_title_nl %>
</p>

<p>
  <strong>Step two title en:</strong>
  <%= @custom.step_two_title_en %>
</p>

<p>
  <strong>Step two text fr:</strong>
  <%= @custom.step_two_text_fr %>
</p>

<p>
  <strong>Step two text nl:</strong>
  <%= @custom.step_two_text_nl %>
</p>

<p>
  <strong>Step two text en:</strong>
  <%= @custom.step_two_text_en %>
</p>

<p>
  <strong>Step three title fr:</strong>
  <%= @custom.step_three_title_fr %>
</p>

<p>
  <strong>Step three title nl:</strong>
  <%= @custom.step_three_title_nl %>
</p>

<p>
  <strong>Step three title en:</strong>
  <%= @custom.step_three_title_en %>
</p>

<p>
  <strong>Step three text fr:</strong>
  <%= @custom.step_three_text_fr %>
</p>

<p>
  <strong>Step one three nl:</strong>
  <%= @custom.step_one_three_nl %>
</p>

<p>
  <strong>Step three text en:</strong>
  <%= @custom.step_three_text_en %>
</p>

<p>
  <strong>Step four title fr:</strong>
  <%= @custom.step_four_title_fr %>
</p>

<p>
  <strong>Step four title nl:</strong>
  <%= @custom.step_four_title_nl %>
</p>

<p>
  <strong>Step four title en:</strong>
  <%= @custom.step_four_title_en %>
</p>

<p>
  <strong>Step four text fr:</strong>
  <%= @custom.step_four_text_fr %>
</p>

<p>
  <strong>Step four text nl:</strong>
  <%= @custom.step_four_text_nl %>
</p>

<p>
  <strong>Step four text en:</strong>
  <%= @custom.step_four_text_en %>
</p>

<%= link_to 'Edit', edit_custom_path(@custom) %> |
<%= link_to 'Back', customs_path %>
