<%= simple_form_for(@visual_gabarit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :visual_id %>
    <%= f.input :gabarit_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
