<p id="notice"><%= notice %></p>

<h1>Listing Visual Gabarits</h1>

<table>
  <thead>
    <tr>
      <th>Visual</th>
      <th>Gabarit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visual_gabarits.each do |visual_gabarit| %>
      <tr>
        <td><%= visual_gabarit.visual_id %></td>
        <td><%= visual_gabarit.gabarit_id %></td>
        <td><%= link_to 'Show', visual_gabarit %></td>
        <td><%= link_to 'Edit', edit_visual_gabarit_path(visual_gabarit) %></td>
        <td><%= link_to 'Destroy', visual_gabarit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visual gabarit', new_visual_gabarit_path %>
