<p id="notice"><%= notice %></p>

<p>
  <strong>Visual:</strong>
  <%= @visual_gabarit.visual_id %>
</p>

<p>
  <strong>Gabarit:</strong>
  <%= @visual_gabarit.gabarit_id %>
</p>

<%= link_to 'Edit', edit_visual_gabarit_path(@visual_gabarit) %> |
<%= link_to 'Back', visual_gabarits_path %>
