<div class="row news">
<div class="container container-content">

	<div class="row">
		<div class="col-md-5">
			<%= image_tag @book.image.url(:medium) %>
		</div>
		<div class="col-md-7">
			<h1><%= @book.title %>
				<% if user_signed_in? %>
				  <%= link_to "Modifier", edit_book_path(@book), class: "btn btn-primary btn-xs" %>

              
                  <%= link_to 'Supprimer', @book, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-danger btn-transparent btn-xs pull-right" %>
                
				<% end %>
				<br><small><i><%= @book.author %></i></small>
			</h1>
			<hr>
			<p><%= @book.content %></p>
		</div>
	</div>
</div>
</div>
