<p id="notice"><%= notice %></p>

<h1>Listing Gabarits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gabarits.each do |gabarit| %>
      <tr>
        <td><%= gabarit.name %></td>
        <td><%= link_to 'Show', gabarit %></td>
        <td><%= link_to 'Edit', edit_gabarit_path(gabarit) %></td>
        <td><%= link_to 'Destroy', gabarit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gabarit', new_gabarit_path %>
