

    
      
    	<div class="row">
    		<div class="col-md-5">
          <% unless visual.upload %>
    			<%= link_to image_tag(visual.image.url(:medium), class: 'img-rounded'), visual_path(visual) %>
          <% else %>
            <%= link_to image_tag(visual.upload.image.url(:medium), class: 'img-rounded'), visual_path(visual.upload) %>
          <% end %>
    		</div>
    		<div class="col-md-7">
          <p>
            <span class="hg_color_link">
              <% unless visual.is_upload %>
              <%= link_to visual.name, visual_path(visual) %>
              <% else %>
              <i><%= link_to "Votre visuel personnalisé", upload_path(visual.upload) %></i>
              <% end %>
            </span>
            <br><small><span class="neutral_link">
            <% unless visual.is_upload %>
            <%= link_to visual.artist.full_name, artist_path(visual.artist) %>
            <% end %>
          </span></small>
          </p>

          <p>
            <strong><%= number_to_currency order_item.price %></strong>
            <br><%= order_item.dimension.whole_name if order_item.dimension %></p>
          
        </div>
      </div>
    
    

    

