<%= simple_form_for(@upload) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
   <!-- <div class="row">
      <div class="col-md-6">
        <%= f.input :horizontal %>
      </div>
      <div class="col-md-6">
        <%= f.input :plexi %>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :hauteur, label: false, placeholder: "hauteur" %>
      </div>
      <div class="col-md-6">
        <%= f.input :largeur, label: false, placeholder: "largeur" %>
      </div>
    </div>
    <%= f.input :note, label: false, placeholder: "Commentaire pour l'expert Heroes Gallery" %> -->
    <!-- <%= f.input :user_id %> --> 
    <!--<%= f.input :image, as: :file %> -->
    <%= f.label :image, t("add_my_image"),  class: "btn btn-info btn-block" %>
    <%= f.file_field :image, class: "show-for-sr" %>
    <br>
  </div>

  <div class="form-actions">
    <%= f.submit t("upload_my_image"), class: "btn btn-transparent btn-info btn-block" %>
  </div>
<% end %>

<br>
<br>
<p class="lead"><%= t("see_your_pic_here") %></p>

