<div class="row upload">

<!--<p id="notice"><%= notice %></p>-->

	<div class="container container-content">

		<div class="row">
			<div class="col-md-6 col-md-offset-1 upload-preview ">
				<div class="row">
		    		<%= image_tag "logo.png", size:"234x108", class: "pull-left" %>
		  		</div>

		  		<p class="lead"><%= t("be_your_own_hero") %></p>
<br>
<p class="lead"><span class="hg_color"><%= t("it_is_easy") %></span>

<br>1.       <%= t("step_one") %>
<br>2.       <%= t("step_two") %>
<br>3.       <%= t("step_three") %>
<br>4.       <%= t("step_four") %></p>
		  
		    	
			</div>

			<div class="col-md-4 uploads-form text-center">
			
				<p class="lead">
					<%= t("upload_your_image") %>
					<hr></p>
				<p class="lead">	<small>
					<u><strong><%= t("format") %></strong> <%= t("required") %></u> : jpg | <u><strong><%= t("size") %></strong> <%= t("minimum") %></u> : 2Mb</small>
				</p>

				<%= render 'form' %>

				<%= render "add_to_cart_suggestion" %>
			</div>
		</div>


		
	</div>
</div>
