<div class="row upload">

<div class="container container-content">

<div class="row">
  <div class="col-md-6 col-md-offset-1 upload-preview ">
    <div class="row">
    <%= image_tag "logo.png", size:"234x108", class: "pull-left" %>
  </div>
    <p class="lead">

      <% if user_signed_in? && current_user.is_admin %>
    <small>Vous pouvez voir ou télécharger l'image originale (<%= @upload.size_in_mega %> Mb)</small>
      <% else %>
        <%= t("preview") %>
      <% end %>
    </p>
    <%= image_tag @upload.image.url(:medium) %>
    <% if user_signed_in? && current_user.is_admin %>
      <p>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <%= link_to "Voir l'image originale", @upload.image.url, class: "btn btn-block btn-primary btn-sm", target: "_blank" %>
        </div>
        <div class="col-md-4">
          <!--<%= link_to "Télécharger l'image", download_upload_path(@upload), class: "btn btn-block btn-primary btn-transparent btn-sm" %>-->
        </div>

      </div>
    </p>
    <% end %>
    
  </div>
<div class="col-md-4 uploads-form text-center">
  <p class="lead">
    <%= t("edit_your_image") %>
    <hr></p>
  <p class="lead">  <small>
    <u><strong><%= t("format") %></strong> <%= t("required") %></u> : jpg | <u><strong><%= t("size") %></strong> <%= t("minimum") %></u> : 2Mb</small>
  </p>

   <%= render 'uploads/choose_gabarits' %>
<% if @visual.gabarits.any? %>
  <h4><%= t("format") %>
      <br><small> <%= @visual.gabarits.last.name if @visual.gabarits.any? %></small>
            </h4>

      <%= render partial: "visuals/choose_dimensions", locals: {visual: @visual, order_item: @order_item} %>
<% end %>
<% if @current_order_item && @current_order_item.dimension_id %>            
          <hr>

            <h4><%= t("finitions") %></h4>
          <%= render partial: "visuals/chooser_finish", locals: {visual: @visual, order_item: @order_item} %>
<% end %>
          

<% if @current_order_item && @current_order_item.dimension_id && @current_order_item.finish_id %>
<hr>
  <%= render partial: "visuals/add_to_cart", locals: {visual: @visual, order_item: @order_item} %>
<% else %>
  <%= render "uploads/add_to_cart_suggestion" %>
<% end %>

</div>
</div>
  
</div>
</div>
