<%# add navigation links to this file %>
<li><%= link_to t('home'), root_path %></li>
<li><%= link_to t('concept'), concept_path %></li>
<li><%= link_to t('visuals'), visuals_path %></li>
<li><%= link_to t('artists'), artists_path %></li>
<li><%= link_to t('your_pictures'), your_visuals_path %></li>
<li><%= link_to t('sizes_finishes'), finitions_path %></li>
<li><%= link_to t('news'), articles_path %></li>
<li><%= link_to t('books'), books_path %></li>
<li><%= link_to t('contact'), contact_path %></li>

<li><%= render 'layouts/cart_text' %></li>

<li>
	<% if user_signed_in? %>
		<%= link_to user_path(current_user) do %>
		<%= content_tag(:i, " ", class: "fa fa-lg fa-inverse fa-user") %>
		<% end %>

	<% else %>

		<%= link_to new_user_session_path do %>
		<%= content_tag(:i, " ", class: "fa fa-lg fa-inverse fa-user") %>
		<% end %>
	<% end %>
</li>

<% if user_signed_in? %>
	<li><%= link_to destroy_user_session_path, :method=>'delete' do %>
		<%= content_tag(:i, " ", class: "fa fa-lg fa-inverse fa-sign-out") %>
	<% end %></li>
<% end %>
